<launch>
    <group ns="$(env ROS_DEVICE_NAME)">
        <!--
        <node name="mc_connect" pkg="rosserial_arduino" type="serial_node.py">
            <param name="port" value="/dev/ttyAMA0" />
            <param name="baud" value="230400" />
        </node>
        -->
        <!-- <rosparam command="load" file="$(find dot_hardware)/config/pd_gains/pd_gains.yaml"/> -->
        <!-- <rosparam command="load" file="$(find dot_hardware)/config/wheel_dir/wheel_dir.yaml"/> -->
        <node name="stm_connect" pkg="dot_hardware" type="stm_comm_node" output="screen"/>
        <node name="omni_drive" pkg="dot_hardware" type="omni_drive_node" output="screen" />
        <!--<node name="imu_driver_node" pkg="driver_mpu9250" type="driver_mpu9250_rpi" output="screen">
            <param name="interrupt_gpio_pin" value="18"/>
        </node>
        <include file="$(find imu_filter_madgwick)/launch/imu_filter_madgwick.launch"/>-->
        <node name="servo_clean" pkg="dot_hardware" type="servo_clean.sh" />
        <node name="servo_control" pkg="dot_hardware" type="servo" launch-prefix="sudo -E"/>
    </group>
    
</launch>